
/***Global***/

a {
    text-decoration: none;
    color: black;
}

ul {
    position:relative;
    display: inline-block;
}

li {
    position:relative;
    display: inline-block;
}

h1 {
    display: inline-block;
    position: absolute;
    left: 10vw;
}

h2,
h3,
h4,
article {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/***Header do Perfil***/

header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.links{
    left: 70vw;
    position: sticky;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.perfil {
    display: inline-block;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 100%;
    background-color: #fafafa;
}


.titulo-pagina {
    display: inline-block;
    position: sticky;
    left: 10vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*** Footer ***/

footer {
    bottom: 0;
}

.rodape {
    display: absolute;
    bottom: 0;
    transform: translate(0%,200%);
    padding-top: .5vh;
    padding-bottom: .5vh;
    width:;
    background-color: #fafafa;
}

.inbl {
    display: inline-block;
}

.inbl-contato {
    position:relative;
    display: inline-block;
    left: 70vw;
    bottom: 1vh;
}

/***Main***/

.img {
    float: left;
    border-radius: 50%;
    transform: translate();
    padding: .7rem;
}

.img2 {
    float: left;
}

.div1 {
    background: #79a1e0;
}

@keyframes ani2 {
    100%{
        transform: rotate(-360deg);
    }
}

.img:hover {
    animation-name: ani2;
    animation-play-state: running;
    animation-duration: .4s;  
}

@keyframes ani {

    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}

.anima2 {
    
}

.anima2:hover{
    animation-play-state: running;
    animation-name: ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border: solid blue;
}

#react {
    position:relative
    

}

#react:hover {
    top:-2px;
    text-shadow:0 2px 2px #666;
}

#react2 {
    position:relative;
    top:0;
    padding:4px;
    background-color:#fafafa;
    transition: all .2s ease-in-out;
}

#react2:hover {
    top:-4px;
    box-shadow:0 4px 3px #999;
}

.contato {
    margin-left: 2vw;
}

